@use "../../styles/partials/colors"as*;
@use "../../styles/partials/breakpoints"as*;

.button {
    text-transform: uppercase;
    text-align: center;
    color: $cta-text;
    background-color: $primary-cta;
    border-radius: .25rem;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    @include tablet {
        max-width: 9.375rem;
    }
    &:hover {
        background-color: $cta-hover;
    }
    &__icon {
        height: 1.25rem;
        padding-left: .5rem;
    }
    &__text{
        font-size: .75rem;
        line-height: 1.25rem;
        font-weight: 700;
        padding: .625rem 0;
        width: 100%;
        margin-right: 1rem;        
    }
}