$primary-text: #323232;
$primary-cta: #0095FF;
$active-outline: #0095FF;
$secondary-text: #afafaf;
$text-label: #afafaf;
$background: #ffffff;
$cta-text: #ffffff;
$video-player-components: #000000;
$cta-hover: #0065ad;
$divider-form-outline: #e1e1e1;
$form-background: #fafafa;