// Avenir Next Regular - 400
@font-face {
    font-family: "Avenir Next";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff"),
         url("../../assets/fonts/AvenirNextLTPro-Regular.woff2");
    font-weight: 400;
}

// Avenir Next Bold - 700
@font-face {
    font-family: "Avenir Next";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff"),
         url("../../assets/fonts/AvenirNextLTPro-Bold.woff2");
    font-weight: 700;
}