@use "../../styles/partials/breakpoints"as*;
@use "../../styles/partials/colors"as*;

.main {

    &__container {
        display: flex;
        flex-wrap: wrap;
        @include desktop {
            max-width: 65rem;
            margin: 0 auto;
            
        }
    }
    &__featured {
        @include desktop {
            flex-basis: 65%;
        }
    }
}