@use "../../styles/partials/breakpoints"as*;
@use "../../styles/partials/colors"as*;

.comment-form {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    @include tablet {
        padding: 2.25rem;
    }
    @include desktop {
        padding: 0;
        max-width: 65rem;
        margin: 0 auto;
    }

    &__profile-pic {
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        object-fit: cover;
        object-position: left;
        margin: 1.3rem 1rem 1rem 0;
    }
    &__form {
        width: 100%;
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
    &__title {
        color: $text-label;
        text-transform: uppercase;
        @include tablet {
            flex-basis: 100%;
        }
    }
    &__input {
        background-color: $form-background;
        height: 6rem;
        font-family: "Avenir Next";
        font-size: .8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        width: 100%;
        border: 1px solid $divider-form-outline;
        border-radius: .25rem;
        padding: .5rem;
        resize: none;
        margin-bottom: .75rem;
        @include tablet {
            flex-grow: 1;
            margin-bottom: 0;
            margin-right: 1rem;
            height: 2.5rem;
            width: auto;
        }

        &::placeholder {
            opacity: 1;
            color: $primary-text;
        }

        &:focus {
            outline-color: $primary-cta;
        }
    }
}